<%- include('header', {title: 'UFO Sighting Form'}) %>

<div class="container">
  <div class="d-flex justify-content-center p-3">
    <h1>UFO Sighting Form</h1>
  </div>

  <div class="container-fluid">
    <form
      class="row g-3 needs-validation"
      action="/sighting"
      method="POST"
      novalidate
    >
      <div class="col-12">
        <label for="validationCustom01" class="form-label">Text:</label><br />
        <textarea
          class="form-control"
          id="validationCustom01"
          rows="3"
          name="text"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter some text.</div>
        <br />
      </div>

      <div class="col-md-6">
        <label for="validationCustom02" class="form-label">Date & Time:</label
        ><br />
        <input
          class="form-control"
          type="datetime-local"
          id="validationCustom02"
          name="date_time"
          max="2020-06-30T16:30"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please select a valid date and time.</div>
        <br />
      </div>

      <div class="col-md-6">
        <label for="validationCustom03" class="form-label">City:</label><br />
        <input
          class="form-control"
          type="text"
          id="validationCustom03"
          name="city"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide a valid city.</div>
        <br />
      </div>

      <div class="col-md-4">
        <label for="validationCustom04">State:</label><br />
        <input
          class="form-control"
          type="text"
          id="validationCustom04"
          name="state"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide a valid state.</div>
        <br />
      </div>

      <div class="col-md-4">
        <label for="validationCustom05">Shape:</label><br />
        <input
          class="form-control"
          type="text"
          id="validationCustom05"
          name="shape"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide a valid shape.</div>
        <br />
      </div>

      <div class="col-md-4">
        <label for="validationCustom06">Duration:</label><br />
        <input
          class="form-control"
          type="text"
          id="validationCustom06"
          name="duration"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide a valid duration.</div>
        <br />
      </div>

      <div class="col-12">
        <label for="validationCustom07">Summary:</label><br />
        <textarea
          class="form-control"
          id="validationCustom07"
          rows="3"
          name="summary"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter a summary.</div>
        <br />
      </div>

      <% const today = new Date().toLocaleString('en-US', { weekday: 'long',
      month: 'long', day: 'numeric', year: 'numeric', hour: 'numeric', minute:
      'numeric', hour12: true, }); %>

      <div class="col-md-6">
        <label for="timestamp">Timestamp:</label><br />
        <input
          class="form-control"
          type="text"
          id="timestamp"
          name="timestamp"
          value="<%= today %>"
          readonly
        />
      </div>

      <div class="col-12">
        <input type="submit" class="btn btn-primary" value="Submit" />
      </div>
    </form>
  </div>
</div>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    "use strict";
    window.addEventListener(
      "load",
      function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName("needs-validation");
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener(
            "submit",
            function (event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add("was-validated");
            },
            false
          );
        });
      },
      false
    );
  })();
</script>

<%- include('footer'); -%>
